{% extends "admin/change_form.html" %}

{% block field_sets %}
 <hr>
    <fieldset class="module aligned ">
        <div class="form-row field-store">
            <div>
                <div class="flex-container">
                    <label>Ім'я:</label>
                    <div class="readonly">{{ original.cart.first_name }}</div>
                </div>
            </div>
        </div>
        <div class="form-row field-store">
            <div>
                <div class="flex-container">
                    <label>Прізвище:</label>
                    <div class="readonly">{{ original.cart.last_name }}</div>
                </div>
            </div>
        </div>
        <div class="form-row field-store">
            <div>
                <div class="flex-container">
                    <label>Телефон:</label>
                    <div class="readonly">{{ original.cart.phone }}</div>
                </div>
            </div>
        </div>
        <div class="form-row field-store">
            <div>
                <div class="flex-container">
                    <label>Коментар:</label>
                    <div class="readonly">{{ original.note }}</div>
                </div>
            </div>
        </div>

</fieldset>
    {{ block.super }}
{% endblock %}